@import "https://unpkg.com/open-props" layer(design . system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo . support);

#area {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: "Courier New", "Baskerville Old Face", emoji;
}

#counter {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: "Courier New", system-ui;
    font-size: 40px;
}

#start_button {
    text-align-all: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Courier New", system-ui;
    width: 70%;
}

#yes_button {
    text-align-all: center;
    margin-left: 0;
    margin-right: 10%;
    align-self: center;
    width: 100%;
    font-family: "Courier New", system-ui;
    background-image: linear-gradient(144deg, #44944A, #98FB98 50%, #00FF7F);
}

#no_button {
    text-align-all: center;
    align-self: center;
    margin-left: 6%;
    margin-right: 0;
    width: 100%;
    font-family: "Courier New", system-ui;
    background-image: linear-gradient(144deg, #EE204D, #CD5C5C 50%, #FF2400);
}

#yes_no {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align-all: center;
}

div.yes_no {
    margin-top: 4%;
    display: inline-block;
    text-align-all: center;
    width: 48%;
}

/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 200%;
    min-width: 40%;
    padding: 8px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}


.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (max-width: 680px) {
    .button-64 {
        font-size: 16px;
    }
}

@layer demo {
    .rounded-border-gradient {
        inline-size: auto;
        aspect-ratio: 10;
        border: solid 0.2em transparent;
        border-radius: 3em;
        padding: 2em;
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)) padding-box,
        linear-gradient(#CD5C5C, #ED760E) border-box;
    }
}

@layer demo.support {
    body {
        display: grid;
        place-content: center;
        padding: 1em;
        gap: 1em;
    }
}